<div class="home-body">
    <div class="smaller-circle"></div>
    <div id="header" class="page-header-container">
        <div class="inner-header">
            <h2>TRAVEL</h2>
            <ul>
                <li>About</li>
                <li>Contact</li>
            </ul>
        </div>
        <div class="inner-subheader">

        </div>
    </div>
    <div class="form-map-container">

        <div id="home-body-map" class="home-body-map">
            <img src="~/images/image.png" />
        </div>
    </div>
    <div id="home-body-form" class="home-body-form"></div>
</div>
